# Data folders with large files
data/**
output/**
models/**
figures/**

# Annoying add ons
.ipynb_checkpoints/
.vscode/
__pycache__/

# Data that might be hanging around
*.png
*.npy

# Keep folder structure
!.gitkeep